/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
 .textAlignCenter{
    text-align: center;
}

.contentLayout{
	height: 300px;
	width:850px;
	border: 1px solid;
	padding-top: 70px;
	padding-bottom: 70px;
	float: left;
}

.contentMenu{
	height: 300px;
	width: 200px;
	border: 1px solid;
	padding-top: 70px;
	padding-bottom: 70px;
	float: left;
}

.feedback{
	height: 300px;
	width: 275px;
	border: 1px solid;
	padding-top: 70px;
	padding-bottom: 70px;
	float: left;
}

.footerLayout{
	height: 50px;
	width:850px;
	border: 1px solid;
	float: left;
}

.footerRights{
	float:left;
}

.footerContact{
	float: right;
}

.feedbackSpacing{
	border-spacing: 25px;
}

.businessNews{
	max-height: 20px; !important;
	float: left;
}

.sportsNews{
	float: left;
}

.latestNews{
	float: left;
}

.popularNews{
	float: left;
}

.arrowImage{
	float: right;
}

.sportsNews{
	padding-top: 500px;
}

#content {
    padding: 10px;
    margin-left: -2px;
    overflow: hidden;
}