<p>Our News Dash Board was started with a mission to bring all news of different catogeries at a single place. This makes the readers to read latest news, popular news, sports news 
and business news to read at a single url hit.</p>

<p>We have news feeds from various sites.</p>

<br>1) For Business news we have news feed fetched from Economic Times.
<br><br>2) For Sports news we have news feed fetched from CNN.
<br><br>3) For Latest news we have news feed fetched from Newyork Times.
<br><br>4) For poplar news we have news feed fetched from BBC.
<br><br><br>
<p>Readers can provide their valuable feedback which will help to reach your expectation at all times.</p>
<p>Readers can give their own settings such that they can choose their favourite tabs to be present.</p>
<p>Readers can move the tabs and place them in their own preferred order.</p>

