<<<<<<< HEAD
<meta http-equiv="refresh" content="120" > 
<script type="text/javascript" src="http://app.feed.informer.com/digest3/5NX9SALLCC.js"></script>
<noscript><a href="http://app.feed.informer.com/digest4/5NX9SALLCC.html">Click for &quot;Your New Digest 4&quot;.</a>
Powered by <a href="http://feed.informer.com/">RSS Feed Informer</a></noscript>
=======
<h1>LatestNews#show_latest_news</h1>
<p>Find me in app/views/latest_news/show_latest_news.html.erb</p>
>>>>>>> 8d2cd4c58693106575e815d69b214da6e96c2cb2
