<<<<<<< HEAD
<script type="text/javascript" src="http://app.feed.informer.com/digest3/MZ9D8GPHSV.js"></script>
<noscript><a href="http://app.feed.informer.com/digest3/MZ9D8GPHSV.html">Click for &quot;Your New Digest 3&quot;.</a>
Powered by <a href="http://feed.informer.com/">RSS Feed Informer</a></nos
=======
<h1>BusinessNews#show_business_news</h1>
<p>Find me in app/views/business_news/show_business_news.html.erb</p>
>>>>>>> 8d2cd4c58693106575e815d69b214da6e96c2cb2
