<<<<<<< HEAD
<script type="text/javascript" src="http://app.feed.informer.com/digest3/KC4QAFYWHG.js"></script>
<noscript><a href="http://app.feed.informer.com/digest2/KC4QAFYWHG.html">Click for &quot;Your New Digest 2&quot;.</a>
Powered by <a href="http://feed.informer.com/">RSS Feed Informer</a></noscript>
=======
<h1>PopularNews#show_popular_news</h1>
<p>Find me in app/views/popular_news/show_popular_news.html.erb</p>
>>>>>>> 8d2cd4c58693106575e815d69b214da6e96c2cb2
