<h2>Moderator options</h2>

<br><br><br><br>

<%= link_to "Add User", {:controller => "devise/user", :action => "view_add_user_page"}  %>

<br><br><br><br>

<%= link_to "Remove user", {:controller => "devise/user", :action => "view_remove_user_page"}  %>

<br><br><br><br>

<%= link_to "View Users", {:controller => "devise/user", :action => "view_users"}  %>